<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>关于LiquidLunar</title>
    <link rel="stylesheet" href="/stylesheets/liquid.css">
</head>
<body>
<header>
    <a href="#" class="logo">LiquidLunar</a>
    <ul>
        <li><a href="/liquid">主页</a></li>
        <li><a href="#" class="active">关于我们</a></li>
        <li><a href="https://github.com/CubeWhyMC/LiquidLunar/wiki">文档</a></li>
        <li><a href="https://github.com/CubeWhyMC/LiquidLunar/issues">提问题</a></li>
        <li><a href="https://github.com/CubeWhyMC/LiquidLunar/">源代码</a></li>
    </ul>
</header>
<div class="sec" id="sec">
    <h2>关于我们</h2><br>
    <p class="about">可以说LiquidLunar的前身是LunarCN,但随着Lunar官方对客户端的一系列修复,LunarCN很多功能都被修复.于是,令人兴奋的客户端问世了.</p>
    <p>LiquidLunar的团队由许多热心人士组成,其领导者是CubeWhy(亦是LunarCN主要开发者),其他成员大多数为自愿加入开发,我们希望能够为 Minecraft PVP客户端发展贡献一份力</p>
    <p>我们的项目全都开源,免费,用爱发电,从未收取任何费用.如果您想要支持我们,可以前往<a href="https://donate.lunarcn.top">donate.lunarcn.top</a>支持我们</p>
    <p></p>
</div>
</body>
</html>
