<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="赞助LunarCN项目 | LunarCN 客户端"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Donate project LunarCN</title>
</head>
<body>
<h1 align="center">赞助LunarCN</h1>
<hr>
<h2 align="center">赞助开发者</h2>
<p>LunarCN一直都是免费开源的,未提供过任何收费服务,请赞助来支持dev</p>
<img src="https://oss.lunarclient.top/images/pay-zfb.png">
<img src="https://oss.lunarclient.top/images/pay-wx.png">
<img src="https://oss.lunarclient.top/images/pay-qq.png">
<h2 align="center">赞助LunarCN背后的赞助商</h2>
<label>赞助商会获得全部收成</label>
<p><a href="https://shop.jsip.fun">购买HLN加速IP</a>来赞助HLN-Network (提供服务器)</p>
<h2 align="center">领取赞助奖励(仅赞助dev)</h2>
<p>添加QQ 1076124626或在<a href="https://discord.lunarclient.top">LunarCN Discord</a>中开票, 然后发送你的支付记录, 看到之后会拉你进群/添加身份组</p>
<hr>
<h2 align="center">寻找外币支付?</h2>
<p>抱歉,我们暂时还不支持外币支付,你可以找你的中国朋友换成中国元</p>
</body>
</html>
