<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="always" name="referrer">
    <meta name="description" content="Download LunarCN Client"/>
    <meta name="keywords" content="lunarcn,lunarcn.top,lunar客户端,lunarcn官网,官网,liquidlunar,lunarclient,全饰品,lunar mod,lunar,lunarcn.top,badlion,badlion客户端,原神,lunarcn: lunarcn.top,lunarcn ..top,lncn,lishangmc">
    <title>下载LunarCN</title>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ef9c555938fd3d70ea01c9648d1860d3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script href="<%= api %>api/web/latest?format=js" async></script>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/download.css" type="text/css">
</head>
<body style="background: #414344;">
<div class="container">
    <br>
    <ul>
        <center>
            <h2>Latest：</h2>
            <h1><label id="latest">
                    API died
                </label></h1>
            <br>
            <script type="text/javascript" src="<%= api %>api/web/latest?format=js"></script>
            <a target="_blank" href="https://github.com/CubeWhyMC/LunarClient-CN/releases/latest">Github</a>
            <br>
            <a target="_blank" href="https://discord.lunarclient.top">Join our Discord</a>
            <br>
            <iframe src="//player.bilibili.com/player.html?bvid=BV16p4y1V7ti&cid=905498140&page=1"
                    allowfullscreen="allowfullscreen" width="100%" height="400" scrolling="no" frameborder="0"
                    sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"></iframe>
            <div class="ads"></div>
            <!-- 自适应文字广告代码开始 -->
            <table cellpadding="0" cellspacing="0" border="1" style="width:100%;font-weight:700;text-align:center;"
                   bordercolor="#333333">
                <tbody>
                <tr>
                    <td height="24" style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;color:#640EF6;">广告位招租</span></a>
                    </td>
                    <td height="24" style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;color:#640EF6;">广告位招租</span></a>
                    </td>
                    <td height="24" style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;color:#640EF6;">广告位招租</span></a>
                    </td>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;color:#640EF6;">广告位招租</span></a>
                    </td>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;color:#640EF6;">广告位招租</span></a>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="https://github.com/MolokyMC/PridePlus" target="_blank"><span
                                    style="font-size:13px;color:#E53343">瓦瓦开发的免费开源HYT客户端PridePlus</span></a>
                    </td>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="https://shop.jsip.fun" target="_blank"><span style="font-size:13px;color:#E53343">HLN加速IP</span></a>
                    </td>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;">广告位招租</span></a>
                    </td>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;">广告位招租</span></a>
                    </td>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;">广告位招租</span></a>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;">广告位招租</span></a>
                    </td>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;">广告位招租</span></a>
                    </td>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span
                                    style="font-size:13px;color:#E53343">广告位招租</span></a>
                    </td>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;">广告位招租</span></a>
                    </td>
                    <td style="width:20%;vertical-align:middle;">
                        <a href="" target="_blank"><span style="font-size:13px;">广告位招租</span></a>
                    </td>
                </tr>
                <tr>
                    <td height="28" colspan="5" style="font-size:15px;">
                        <p>
                            <marquee scrollamount="3" behavior="alternate">
                                ADS===>5CNY/M:admin@cubewhy.eu.org。
                            </marquee>
                            <span></span>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </center>
    </ul>
    <!-- 自适应文字广告代码结束 -->
</div>
<div class="footer">
    <center>
        <a href="/"><img src="/images/footer.png" class="wow fadeInDownBig animated"
                         data-wow-duration="1.5s" data-wow-delay=".1s"
                         style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: fadeInDownBig;"></a>
        <p>
            Copyright © 2023 LunarCN All rights reserved
        </p>
    </center>
</div>
</body>
</html>
