<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>LunarCN Development</title>
    <style>
        body {
            background: black;
        }
        p,h1 {
            color: #4ac4cf;
        }
    </style>
</head>
<body>
<h1>Publish your Mod</h1>
<p>Please create a issue at https://github.com/CubeWhyMC/LunarClient-CN/issues</p>
<!--Add close button for electron browser-->
<button onclick="window.close()">Close this page</button>
</body>
</html>
